
body {
  background-color: #E8ECEF;
  background-image: url(images/blog2.png)
}
h1 {
     text-align: center;
     font-size: 100px;
     padding: 30px;
     width: 60%;
}
.btn{
     width: 150px;
}
.btn-google{
     width:100%;
}
.btn-side{
     width:30%;
}
.btn-index{
     width:100%;
     background-color: #E8ECEF;
}
.centered {
    padding-top: 200px;
    text-align: center;
}
.container {
     margin-bottom: 100px;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
